<h1> Create a New Landmark</h1>

<form method="POST" action="/landmarks">
<br/>
Landmark Name:<br/>
<input type="text" name="landmark[name]" id="landmark_name">
Year Completed:<br/>
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">

<input type="submit" value="Create New Landmark">




</form>
