<h1>Important Figures Page </h1>

<ol>
  <%@figures.each do |figure|%>
  <li><a href="/figures/<%=figure.id%>"><%=figure.name%></a></li>
  <%end%>
</ol>

<a href="/figures/new"> Create a New Figure </a>
